@font-face {
    font-family: "MuseoSansCyrl";
    font-weight: 100;
    src: local("MuseoSansCyrl"), url(/static/media/MuseoSansCyrl.f0e6808e.otf) format("opentype")
}

@font-face {
    font-family: "MuseoSansCyrl";
    font-weight: 300;
    src: local("MuseoSansCyrl"), url(/static/media/MuseoSansCyrl_0.b629c23b.otf) format("opentype")
}

@font-face {
    font-family: "MuseoSansCyrl";
    font-weight: 500;
    src: local("MuseoSansCyrl"), url(/static/media/MuseoSansCyrl_1.49e8040c.otf) format("opentype")
}

@font-face {
    font-family: "MuseoSansCyrl";
    font-weight: 700;
    src: local("MuseoSansCyrl"), url(/static/media/MuseoSansCyrl_2.1f870401.otf) format("opentype")
}

@font-face {
    font-family: "MuseoSansCyrl";
    font-weight: 900;
    src: local("MuseoSansCyrl"), url(/static/media/MuseoSansCyrl_3.0096d834.otf) format("opentype")
}

body {
    font-family: "MuseoSansCyrl", serif;
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
    display: flex;
    justify-content: flex-start
}

body, html {
    font-size: 100%;
    line-height: 1
}

#root, body, html {
    min-height: 100%;
    max-width: 100%
}

#root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px 20px 20px
}

.logo {
    height: 1.2cm;
    padding: .2cm 0 .3cm;
    width: 207px;
    height: 45px
}

input {
    border: 0;
    padding: 0;
    margin: 0;
    text-transform: uppercase
}

input[type=text] {
    box-sizing: border-box
}

input::-webkit-input-placeholder {
    text-transform: none
}

input:-ms-input-placeholder {
    text-transform: none
}

input::placeholder {
    text-transform: none
}

.input-wrap {
    width: 200px;
    margin-right: 20px;
    margin-bottom: 5px
}

.form-div {
    background-color: #fff;
    min-width: 257px;
    border: 2px solid #888;
    border-radius: .5%;
    font-size: 12.5px;
    padding: 15px
}

.fsublock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 2px
}

.fsu {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    flex: 0 1 420px
}

.fsu-h4 {
    flex: 0 1 auto
}

.fsublock-mini {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto
}

.fsublock-option {
    font-family: "MuseoSansCyrl", "serif";
    flex: 0 0 200px;
    border: 3px solid #888;
    background-color: #fff
}

.infoblock {
    display: flex;
    flex-wrap: wrap;
    min-width: 257px;
    border: 3px solid #888;
    border-radius: .5%;
    padding-left: 1%;
    min-height: 55px;
    justify-content: flex-start;
    align-items: flex-end;
    margin-right: 20px
}

.infoblock-div {
    width: 200px;
    height: 22px;
    display: flex;
    flex-direction: column;
    border: 2px solid #888
}

select {
    border: 0;
    padding: 0;
    margin: 0
}

.infoblock-quantity {
    display: flex;
    flex-direction: column;
    min-width: 257px;
    border: 3px solid #888;
    border-radius: .5%;
    padding-left: 1%;
    min-height: 55px;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 20px
}

.infoblock-quantity-detail {
    display: flex;
    flex-wrap: wrap;
    max-width: 175vh;
    min-height: 55px;
    justify-content: flex-start;
    align-items: flex-end
}

.awb {
    padding-left: 1.5%
}

.detailAndTotal {
    border: 2px solid;
    border-radius: .5%;
    width: 175vh;
    padding-left: 1%;
    margin-left: 2vh;
    height: 14vh
}

.detail, .total {
    display: grid;
    align-items: center;
    grid-template-columns:repeat(7, 1fr)
}

h4 {
    margin: 0;
    padding: .5%;
    font-size: 15px
}

.MovementDetail {
    border: 2px solid;
    border-radius: .5%;
    width: 175vh;
    padding-left: 1%;
    margin-left: 2vh;
    height: 27.5vh
}

.movement, .time {
    display: grid;
    align-items: center;
    grid-template-columns:repeat(7, 1fr)
}

label {
    font-weight: 700
}

.validate {
    border: 2px solid;
    border-radius: .5%;
    min-width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 1%;
    height: 9.5vh;
    color: grey;
    white-space: pre-line
}

.validateMessage {
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.message {
    margin-left: .25%;
    width: 200px;
    height: 30px;
    font-weight: 700;
    font-size: 15px;
    padding: 10px 25px;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #000;
    background-color: #dadada;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #aeaeae
}

.submit {
    background-color: #4676d7;
    color: #fff
}

.message:hover {
    box-shadow: 0 0 5px 1px #4a4a4a;
    background-color: #1d49aa
}

.message:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee
}

.publish {
    display: flex;
    justify-content: flex-end
}

.error-validation {
    bottom: 0;
    color: red;
    font-size: 10px;
    line-height: 10px;
    padding: 2px 0;
    margin: 0
}

/*# sourceMappingURL=main.7d76bfd1.chunk.css.map */